.view-community {
  .view-content{
    @include make-md-column(10);
    @include make-md-column-pull(2);
  }
  .view-content ul {
    padding-left:0;
  }
  .view-filters{
    @include make-md-column(2);
    @include make-md-column-push(10);
    form {
      @extend .panel;
      @extend .panel-default;
      border: 1px solid $gray-lighter;
    }
  }
  .views-exposed-form{
    @extend .panel-body;
  }
}

.block-views {
  .block-title{
    margin-top:0;
  }
  .view-community {
    .view-content {
      @include make-md-column(12);
      @include make-md-column-pull(0);
    }
    .panel-comm {
      border:none;
      padding:0;
      box-shadow: 0;
    }
  }
}

.filters {
  padding:10px;
}
