#block-search-form{
  .input-group{
    padding-bottom:20px;
  }
}


#block-views-news-block-4 h2.block-title, #block-views-news-block-4 h2.block-title, #block-user-online h2.block-title{
  text-decoration: underline;
  border-bottom: none;
  background: transparent;
  padding-bottom:0;
}
