.front {
  .page-header {
    display:none;
  }
  .header {
    background: $gray-darkest;
    h1, h2, p {
      color: $gray-lighter;
    }
  }
  section {
    padding:0;
  }
  .region-content section:not(.block-system) {
    padding: 20px 0px 20px 0px;
  }
  .carousel, .sponsors {
    background: $gray-darkest;
    h1, h2, h3, h4, p {
      color: $gray-lighter;
    }
  }
  .pillars {
    .fa {
      color: $brand-primary;
      padding: 20px;
    }
  }
  #myCarousel {
    .carousel-control {
      background: none;
      width: 4%;
      font-size: 50px;
      top: 32%;
    }
    .carousel-inner {
      width: 96%;
      margin-left: 2%;
    }
  }
  img.logo {
    max-width:100%;
    max-height:150px;
    display:block;
    margin-left:auto;
    margin-right:auto;
  }
  img.logo.neh {
    padding-top:22px;
  }
  .membership {
    .fa-circle {
      color: $brand-success;
    }
    td:nth-of-type(2), td:nth-of-type(3) {
      text-align:center;
    }
  }
}

.list-unstyled {
  li {
    padding:5px;
  }
  a {
    color:$text-color;
  }
  a.disabled {
    color:$gray-lighter;
    cursor:not-allowed;
  }
}

a.tabledrag-handle .handle {
  @extend .fa;
  @extend .fa-arrows;
  background:none;
}
// .panel-heading a {
//   display:block;
//   width:100%;
// }
// .panel-heading a:after {
//   float:right;
//   font-family: FontAwesome;
//   content: $fa-var-arrow-up;
// }
// .panel-heading a.collapsed:after {
//   content: $fa-var-arrow-down;
// }
