.front {
  .main-container{
    padding-bottom:0;
  }
  #block-system-main{
    display:none;
  }
  .page-header {
    display:none;
  }
  .header {
    background: $gray-darkest;
    h1, h2, p {
      color: $gray-lighter;
    }
    .logo {
      padding-right:20px;
    }
    h1{
      padding-right:10px;
    }
    h4 {
      color:#FFF;
      padding-right:10%;
      &::first-letter{
        font-size:150%;
      }
    @media(max-width:$screen-xs-max){
      //do stuff here
    }
    }
    .col-lg-4{
      border-left:solid 1px $gray-light;
      p{
        padding:40px 30px 0px 40px;
      }
      p + p {
        padding-top:10px;
        padding-bottom:30px;
      }
    }
  }
  section {
    padding:0;
  }
  .region-content section:not(.block-system) {
    padding: 0px 0px 35px 0px;
    margin-top:0;
  }
  section#block-block-3{
    padding-bottom:0;
  }
  .carousel, .sponsors, .featured.row {
    background: $gray-darkest;
    h1, h2, h3, h4, p {
      color: $gray-lighter;
    }
    .block-title{
      background-color: transparent;
      border-bottom: none;
    }
  }
  .featured.row{
    .block-title{
      margin-bottom:0;
    }
    .view-header{
      margin-bottom:15px;
    }
  }
  .pillars {
    .fa {
      color: $brand-primary;
      padding: 20px;
    }
  }
  .carousel-control {
    background: none;
    width: 4%;
    font-size: 50px;
    top: 32%;
  }
  .carousel-inner {
    width: 96%;
    margin-left: 2%;
    > .item > img, > .item > a > img{
     margin-left: auto;
     margin-right: auto;
     height: auto;
     width: 100%;
    }
  }
  .carousel-caption{
    margin: 10%;
    padding-top: 1px;
    h3 a{
      color:#FFF;
      font-size:19px;
    }
  }
  img.logo {
    max-width:100%;
    max-height:150px;
    display:block;
    margin-left:auto;
    margin-right:auto;
  }
  img.logo.neh {
    padding-top:22px;
  }
  .membership {
    .fa-circle {
      color: $brand-success;
    }
    td:nth-of-type(2), td:nth-of-type(3) {
      text-align:center;
    }
  }
  .view-news .more-link a{
    @extend .btn;
    @extend .btn-info;
  }
}

.list-unstyled {
  li {
    padding:5px;
  }
  a {
    color:$text-color;
  }
  a.disabled {
    color:$gray-lighter;
    cursor:not-allowed;
  }
}

a.tabledrag-handle .handle {
  @extend .fa;
  @extend .fa-arrows;
  background:none;
}

#archive-info, #discover-info, #publish-info, #share-info{
  .modal-body{
    .col-md-2:nth-of-type(1){
      background-image: url('http://tapasdev.neu.edu/profiles/buildtapas/themes/tapas-themes/tapas_redesign/logo.png');
      background-repeat: no-repeat;
      background-position: 83% center;
      background-size: 99% auto;
      height: 197px;
      opacity: 0.4;
      @media(max-width:$screen-md-min){
        background-size: contain;
        height: 100px;
        background-position: left;
      }
    }
    .col-md-4:nth-of-type(1){
      border-left: medium solid rgba(0, 0, 0, 0.17);
    }
  }
}
