.front {
  .main-container{
    padding-bottom:0;
  }
  #block-system-main{
    display:none;
  }
  .page-header {
    display:none;
  }
  .header {
    background: $gray-darkest;
    h1, h2, p {
      color: $gray-lighter;
    }
  }
  section {
    padding:0;
  }
  .region-content section:not(.block-system) {
    padding: 20px 0px 20px 0px;
  }
  section#block-block-3{
    padding-bottom:0;
  }
  .carousel, .sponsors, .featured.row {
    background: $gray-darkest;
    h1, h2, h3, h4, p {
      color: $gray-lighter;
    }
    .block-title{
      background-color: transparent;
      border-bottom: none;
    }
  }
  .pillars {
    .fa {
      color: $brand-primary;
      padding: 20px;
    }
  }
  .carousel-control {
    background: none;
    width: 4%;
    font-size: 50px;
    top: 32%;
  }
  .carousel-inner {
    width: 96%;
    margin-left: 2%;
  }
  .carousel-caption{
    margin: 10%;
    padding-top: 1px;
    h3{
      color:#FFF;
      font-size:19px;
    }
  }
  img.logo {
    max-width:100%;
    max-height:150px;
    display:block;
    margin-left:auto;
    margin-right:auto;
  }
  img.logo.neh {
    padding-top:22px;
  }
  .membership {
    .fa-circle {
      color: $brand-success;
    }
    td:nth-of-type(2), td:nth-of-type(3) {
      text-align:center;
    }
  }
  .view-news .more-link a{
    @extend .btn;
    @extend .btn-info;
  }
}

.list-unstyled {
  li {
    padding:5px;
  }
  a {
    color:$text-color;
  }
  a.disabled {
    color:$gray-lighter;
    cursor:not-allowed;
  }
}

a.tabledrag-handle .handle {
  @extend .fa;
  @extend .fa-arrows;
  background:none;
}
// .panel-heading a {
//   display:block;
//   width:100%;
// }
// .panel-heading a:after {
//   float:right;
//   font-family: FontAwesome;
//   content: $fa-var-arrow-up;
// }
// .panel-heading a.collapsed:after {
//   content: $fa-var-arrow-down;
// }
#archive-info{
  .modal-body{
    .col-md-2:first-of-type{
      background-image: url(&quot;http://tapasdev.neu.edu/profiles/buildtapas/themes/tapas-themes/tapas_redesign/logo.png&quot;);
      background-repeat: no-repeat;
      background-position: 83% center;
      background-size: 99% auto;
      height: 197px;
      opacity: 0.4;
    }
    .col-md-4:first-of-type{
      border-left: medium solid rgba(0, 0, 0, 0.17);
    }
  }
}
