.toolbar {
  position:fixed;
  top:176px;
  a.toolbar-link {
    display:block;
    text-decoration:none;
    background:$brand-primary;
    width:2.5em;
    height:2.5em;
    overflow:hidden;

  }
  .toolbar-title {
    visibility:hidden;
    opacity:0;
    @include transition(all, 0.2s, linear);
    color:$body-bg;
    margin-left:-100px;
    padding-right:10px;
  }
  a.toolbar-link:hover, a.toolbar-link:focus {
    .toolbar-title {
      opacity:1;
      visibility:visible;
      margin-left:0;
    }
    width:auto;
  }
  fieldset.search-advanced {
    display:none;
  }
}
#tools, #feed, #bookbag, #search {
  background:$body-bg;
  border:1px solid $gray-light;
  margin-bottom: 0;
}
.tools-content, .feed-content, .bookbag-content, .search-content {
  padding:20px;
}
.tools-content ul.menu.nav{
  padding:0;
  li {
    padding:0;
    a {
      padding:5px 10px;
    }
  }
}
.feed-content .block .view {
  padding:0;
}
.search-content form.form-search.content-search{
  max-width: 300px;
}
#feed p{
  &.lab-notes {
    background: $tapas-green-opaque;
  }
  &.annotation {
    background: $tapas-orange-opaque;
  }
  &.news {
    background: $tapas-blue-opaque;
  }
  &.message {
    background: $tapas-red-opaque;
  }
  a {
    color: $text-color;
    margin-top:5px;
    margin-bottom:5px;
    padding:4px;
    display:block;
  }
}

.tools-content ul.menu.nav li:nth-of-type(3) a:before, .tools-content ul.menu.nav li:nth-of-type(5) a:before, .tools-content ul.menu.nav li:nth-of-type(7) a:before {
  content: '\f067';
  font-family: 'FontAwesome';
  padding-right: 4px;
}
