header {
  padding-top:60px;
  padding-bottom:40px;
  background: $gray-darkest;
  h1, h2, p {
    color: $gray-lighter;
  }
}
section {
  padding-top:20px;
  padding-bottom:20px;
}
.carousel, .sponsors {
  background: $gray-darkest;
  h1, h2, h3, h4, p {
    color: $gray-lighter;
  }
}
.pillars {
  .fa {
    color: $brand-primary;
    padding: 20px;
  }
}
#myCarousel {
  .carousel-control {
    background: none;
    width: 4%;
    font-size: 50px;
    top: 32%;
  }
  .carousel-inner {
    width: 96%;
    margin-left: 2%;
  }
}
footer {
  background: $gray-darkest;
  h1, h2, p {
    color: $gray-lighter;
  }
  padding-top:20px;
  .container & {
    background: none;
  }
}
.membership {
  .fa-circle {
    color: $brand-success;
  }
  td:nth-of-type(2), td:nth-of-type(3) {
    text-align:center;
  }
}

// Rounded corners
.img-rounded {
  border-radius: 50%;
}
.btn-xlg {
  // line-height: ensure even-numbered height of button next to large input
  @include button-size($padding-large-vertical*2, $padding-large-horizontal*2, $font-size-h3, $line-height-large, $border-radius-large);
}
.tapas-icon {
  max-width:50px;
  margin-top:-5px;
}
.toolbar {
  position:fixed;
  top:176px;
  a.toolbar-link {
    display:block;
    text-decoration:none;
    background:$brand-primary;
    width:2.5em;
    height:2.5em;
    overflow:hidden;

  }
  .toolbar-title {
    visibility:hidden;
    opacity:0;
    @include transition(all, 0.2s, linear);
    color:$body-bg;
    margin-left:-100px;
    padding-right:10px;
  }
  a.toolbar-link:hover, a.toolbar-link:focus {
    .toolbar-title {
      opacity:1;
      visibility:visible;
      margin-left:0;
    }
    width:auto;
  }
}
.logo {
  max-width:100%;
  max-height:150px;
  display:block;
  margin-left:auto;
  margin-right:auto;
}
.logo.neh {
  padding-top:22px;
}
hr.inverse {
  margin:0;
}
.tools {
  display:none;
  background:$body-bg;
  padding:20px;
  border:1px solid $gray-light;
}
