.record {
  .panel {
    margin-top:20px;
    border:1px solid $gray-lighter;
  }
  .panel-body {
    background:$body-bg;
  }
}
.social-media {
  padding-left:10px;
  a {
    color:$gray-light;
  }
}
.record-helpers {
  font-size:$font-size-h4;
}
