.toolbar-title {
  visibility:hidden;
  opacity:0;
  @include transition(all, 0.2s, linear);
  color:$body-bg;
  margin-left:-100px;
  padding-right:10px;
}

.toolbar {
  position:fixed;
  top:176px;
  .panel-heading {
    background-color:$brand-primary;
    padding:0;
  }
  .panel {
    background:transparent;
    width:2.5em;
    &:hover, &:focus, .collapse.in {
      .toolbar-title {
        opacity:1;
        visibility:visible;
        margin-left:0;
      }
    width:auto;
    }
  }
  .list-unstyled a {
    color:$gray-dark;
  }
  .fa-star {
    color:#FBDC4A;
  }
}

a.toolbar-link {
  display:block;
  text-decoration:none;
  background:$brand-primary;
  overflow:hidden;
  height:2.5em;
}
.tools, .feed, .bookbag, .search {
  display:none;
  background:$body-bg;
  padding:20px;
  border:1px solid $gray-light;
  li {
    margin-top:5px;
    margin-bottom:5px;
  }
}
#feed p{
  &.lab-notes {
    background: $tapas-green-opaque;
  }
  &.annotation {
    background: $tapas-orange-opaque;
  }
  &.news {
    background: $tapas-blue-opaque;
  }
  &.message {
    background: $tapas-red-opaque;
  }
  a {
    color: $text-color;
    margin-top:5px;
    margin-bottom:5px;
    padding:4px;
    display:block;
  }
}
