.toolbar {
  position:fixed;
  top:176px;
  a.toolbar-link {
    display:block;
    text-decoration:none;
    background:$brand-primary;
    width:2.5em;
    height:2.5em;
    overflow:hidden;

  }
  .toolbar-title {
    visibility:hidden;
    opacity:0;
    @include transition(all, 0.2s, linear);
    color:$body-bg;
    margin-left:-100px;
    padding-right:10px;
  }
  a.toolbar-link:hover, a.toolbar-link:focus {
    .toolbar-title {
      opacity:1;
      visibility:visible;
      margin-left:0;
    }
    width:auto;
  }
}
.tools, .feed, .bookbag, .search {
  display:none;
  background:$body-bg;
  padding:20px;
  border:1px solid $gray-light;
  li {
    margin-top:5px;
    margin-bottom:5px;
  }
}
.feed-entries{
  @extend .list-unstyled;
  a {
    color: $text-color;
    margin-top:5px;
    margin-bottom:5px;
    padding:2px;
    display:block;
    &.lab-notes {
      border: 2px solid $tapas-green;
      background: $tapas-green-opaque;
    }
    &.annotation {
      border: 2px solid $tapas-orange;
      background: $tapas-orange-opaque;
    }
    &.news {
      border: 2px solid $tapas-blue;
      background: $tapas-blue-opaque;
    }
    &.message {
      border: 2px solid $tapas-red;
      background: $tapas-red-opaque;
    }
  }
}
