.view-community {
  .view-content{
    @include make-md-column(10);
    @include make-md-column-pull(2);
  }
  .view-content ul {
    padding-left:0;
  }
  .panel-comm {
    list-style:none;
    background:transparent;
    border: 1px solid $gray-lighter;
    a {
      color:$text-color;
    }
  }
  .panel-Lab-Note.panel-heading {
    background: $tapas-green-opaque;
  }
  .panel-annotation .panel-heading {
    background: $tapas-orange-opaque;
  }
  .panel-Article.panel-heading {
    background: $tapas-blue-opaque;
  }
  .panel-message .panel-heading {
    background: $tapas-red-opaque;
  }
  .panel-comm-tags {
    float:right;
    padding:10px;
  }
  .panel-comm-tags:before{
    font-family:FontAwesome;
    content:"\f02b";
    padding-right:5px;
  }
  .panel-comm-date {
    padding:10px;
  }
  .view-filters {
    @include make-md-column(2);
    @include make-md-column-push(10);
    @extend .panel;
    @extend .panel-default;
    //@extend .pull-right;
    border: 1px solid $gray-lighter;
  }
  .views-exposed-form {
    @extend .panel-body;
  }
  .views-exposed-widget {
    padding:0;
  }
}

.filters {
  padding:10px;
}
