.front {
  .page-header {
    display:none;
  }
  .header {
    background: $gray-darkest;
    h1, h2, p {
      color: $gray-lighter;
    }
  }
  section {
    padding-top:20px;
    padding-bottom:20px;
  }
  .carousel, .sponsors {
    background: $gray-darkest;
    h1, h2, h3, h4, p {
      color: $gray-lighter;
    }
  }
  .pillars {
    .fa {
      color: $brand-primary;
      padding: 20px;
    }
  }
  #myCarousel {
    .carousel-control {
      background: none;
      width: 4%;
      font-size: 50px;
      top: 32%;
    }
    .carousel-inner {
      width: 96%;
      margin-left: 2%;
    }
  }
  // .logo {
  //   max-width:100%;
  //   max-height:150px;
  //   display:block;
  //   margin-left:auto;
  //   margin-right:auto;
  // }
  // .logo.neh {
  //   padding-top:22px;
  // }
  .membership {
    .fa-circle {
      color: $brand-success;
    }
    td:nth-of-type(2), td:nth-of-type(3) {
      text-align:center;
    }
  }
}

footer {
  background: $gray-darkest;
  h1, h2, p {
    color: $gray-lighter;
  }
  padding-top:20px;
  .container & {
    background: none;
  }
}

// Rounded corners
.img-rounded {
  border-radius: 50%;
}
.btn-xlg {
  // line-height: ensure even-numbered height of button next to large input
  @include button-size($padding-large-vertical*2, $padding-large-horizontal*2, $font-size-h3, $line-height-large, $border-radius-large);
}
hr.inverse {
  margin:0;
}
.list-unstyled {
  li {
    padding:5px;
  }
  a {
    color:$text-color;
  }
  a.disabled {
    color:$gray-lighter;
    cursor:not-allowed;
  }
}
