/*!
 * @copyright &copy; Kartik Visweswaran, Krajee.com, 2014
 * @version 1.3.1
 *
 * Bootstrap Tabs Extended - Extended Bootstrap Tabs with ability to tab-align tabs in
 * multiple ways, add borders, rotated titles, and more.
 *
 * For more JQuery/Bootstrap plugins and demos visit http://plugins.krajee.com
 * For more Yii related demos visit http://demos.krajee.com
 * MODIFIED AND REDUCED BY ELIZOLLER
 */
.tab-align-center .nav-tabs > li, .tab-align-center .nav-pills > li,
.tab-align-right .nav-tabs > li, .tab-align-right .nav-pills > li {
    float: none;
    display: inline-block;
    *display: inline; /* ie7 fix */
    zoom: 1; /* hasLayout ie7 trigger */
}

.tabs-left .nav-tabs, .tabs-right .nav-tabs, .tabs-left .tab-content, .tabs-right .tab-content {
    height: 100%;
}

.tab-align-center .nav-tabs, .tab-align-center .nav-pills {
    text-align: center;
}

.tab-align-right .nav-tabs, .tab-align-right .nav-pills {
    text-align: right;
}

.tab-align-right .nav-tabs li:last-child {
    margin-right: -2px;
}

.tab-height-xs .tab-content {
    height: 135px!important;
    overflow: auto;
}

.tab-height-sm .tab-content {
    height: 195px!important;
    overflow: auto;
}

.tab-height-md .tab-content {
    height: 280px!important;
    overflow: auto;
}

.tab-height-lg .tab-content {
    height: 400px!important;
    overflow: auto;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
    display: none;
}

.tab-content > .active,
.pill-content > .active {
    display: block;
}

.tabs-above > .nav-tabs > .active > a,
.tabs-above > .nav-tabs > .active > a:hover,
.tabs-above > .nav-tabs > .active > a:focus {
    border-color: $gray-lighter $gray-lighter #fff $gray-lighter;
}

.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
    border-bottom: 0;
}

.tabs-below > .nav-tabs {
    border-top: 1px solid $gray-lighter;
}

.tabs-below > .nav-tabs > li {
    margin-top: -1px;
    margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a {
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
    border-top-color: $gray-lighter;
    border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
    border-color: transparent $gray-lighter $gray-lighter $gray-lighter;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
    float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
    margin-right: 0;
    margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
    float: left;
    margin-right: 19px;
    border-right: 1px solid $gray-lighter;
}

.tabs-left > .nav-tabs > li > a {
    margin-right: -1px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
    border-color: #eeeeee $gray-lighter #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
    border-color: $gray-lighter transparent $gray-lighter $gray-lighter;
    *border-right-color: #ffffff;
}

.tabs-right > .nav-tabs {
    float: right;
    border-left: 1px solid $gray-lighter;
}

.tabs-right > .nav-tabs > li > a {
    margin-left: -1px;
}

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
    border-color: #eeeeee #eeeeee #eeeeee $gray-lighter;
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
    border-color: $gray-lighter $gray-lighter $gray-lighter transparent;
    *border-left-color: #ffffff;
}

.tab-content {
    padding: 10px;
}

.tabs-above.tab-bordered .tab-content {
    border: 1px solid $gray-lighter;
    border-top: none;
}

.tabs-below.tab-bordered .tab-content {
    border: 1px solid $gray-lighter;
    border-bottom: none;
}

.tabs-left .nav-tabs, .tabs-right .nav-tabs, .tabs-left .tab-content, .tabs-right .tab-content {
    height: 100%;
}

.tabs-left.tab-bordered .tab-content {
    border: 1px solid $gray-lighter;
    border-left: none;
}

.tabs-left.tab-bordered .tab-content .tab-pane, .tabs-right.tab-bordered .tab-content .tab-pane {
    margin-left: 0;
}

.tabs-right.tab-bordered .tab-content {
    border: 1px solid $gray-lighter;
    border-right: none;
    min-height:300px;
}
