.block{
  @extend .panel;
  @extend .panel-default;
  background-color:transparent;
  box-shadow:none;
  .view, ul {
    @extend .panel-body;
  }
}
.block-title {
  @extend .panel-heading;
  padding:10px 15px;
}

.block[class*=" col-"]{
  h2.block-title{
    margin-top:0;
  }
}
