.field.field-label-above{
  padding-top:5px;
  .field-items{
    padding-left:8px;
  }
}
.field-item img{
  height: auto;
  max-height: 250px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.sharethis-buttons{
  padding-top:10px;
}
