.field.field-label-above{
  padding-top:5px;
  .field-items{
    padding-left:8px;
  }
}
.field-item img{
  height: auto;
  max-height: 300px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width:100%;
}
.sharethis-buttons{
  padding-top:10px;
}
.field-name-tc-field-description{
  word-wrap: break-word;
}
