footer {
  background: $gray-darkest;
  .block{
    background: $gray-darkest;
  }
  h1, h2, p {
    color: $gray-lighter;
  }
  padding-top:20px;
  .container & {
    background: none;
  }
  #block-menu-menu-footer-menu {
    .block-title{
      display:none;
    }
  }
}
