#block-menu-menu-primary-menu, #block-system-user-menu{
  margin-bottom:0;
  float:left;
  .menu.nav{
    @extend .navbar-nav;
  }
  ul {
    padding:0;
    li {
      padding:0;
    }
    a {
      color:#FFF;
    }
  }
}
#block-system-user-menu {
  @extend .navbar-right;
  margin-right:0;
}
#navbar {
  padding-top:5px;
  padding-bottom:5px;
}
.navbar-header .logo img {
  max-width:50px;
  margin-top:5px;
  margin-right:10px;
}
.navbar-nav > nav > li > a.inline {
  display:inline-block;
}
#admin-menu {
  z-index:1043;
}


/*fix for searchbox in nav*/
.region-navigation{
  @extend .navbar-form;
  #block-search-form {
    margin: 1px 0px 2px 5px;
    .block-title{
      display:none;
    }
  }
  .input-group-btn{
    button{
      @extend .btn-info;
    }
  }
}

/*fix for sign in button*/
.navbar-nav#block-system-user-menu{
  .first.last.leaf{
    a {
      @extend .btn-primary;
    }
  }
}

/*adding icons to node edit*/
.tabs--primary{
  li:first-of-type{
    a:before{
      @extend .fa;
      @extend .fa-eye;
      padding-right:5px;
    }
  }
  a[href*="edit"]:before{
    @extend .fa;
    @extend .fa-pencil;
    padding-right:5px;
  }
  a[href*="group"]:before{
    @extend .fa;
    @extend .fa-users;
    padding-right:5px;
  }
}
