.record {
  .panel {
    margin-top:20px;
  }
}
.social-media {
  padding-left:10px;
  a {
    color:$gray-light;
  }
}
.record-helpers {
  font-size:$font-size-h4;
}

/*fix for share this button height*/
.stMainServices{
  height:22px !important;
}
