.record {
  .panel {
    margin-top:20px;
  }
}
.social-media {
  padding-left:10px;
  a {
    color:$gray-light;
  }
}
.record-helpers {
  font-size:$font-size-h4;
}

/*fix for share this button height*/
.stMainServices{
  height:22px !important;
}


.field-type-file{
  .field-item{
    clear:both;
  }
  span.file{
    clear:both;
    img.file-icon{
      display:none;
    }
    a:before {
      font-family:"FontAwesome";
      padding-right:5px;
    }
    a[type*=image]:before, a[type~=image]:before{
      content:"\f1c5";
    }
    a[type*=xml]:before, a[type~=xml]:before{
      content:"\f1c9";
    }
  }
}

.ui-dialog .ui-dialog-titlebar-close:before{
  @extend .fa;
  @extend .fa-close;
}

.view-records-in-collection-view {
  .thumbnail a {
    word-wrap: break-word;
  }
}

.field-name-field-tapas-description {
  word-wrap: break-word;
}


// fixes so the ace xml viewer is resizeable
.reader_tei {
  width: 100%;
  height: 500px;
  padding: 5px;
  position: relative;
}

#ace {
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 0;
}
