.record {
  .panel {
    margin-top:20px;
  }
}
.social-media {
  padding-left:10px;
  a {
    color:$gray-light;
  }
}
.record-helpers {
  font-size:$font-size-h4;
}

/*fix for share this button height*/
.stMainServices{
  height:22px !important;
}


.field-type-file{
  .field-item{
    clear:both;
  }
  span.file{
    clear:both;
    img.file-icon{
      display:none;
    }
    a:before {
      font-family:"FontAwesome";
      padding-right:5px;
    }
    a[type*=image]:before, a[type~=image]:before{
      content:"\f1c5";
    }
    a[type*=xml]:before, a[type~=xml]:before{
      content:"\f1c9";
    }
  }
}

.ui-dialog .ui-dialog-titlebar-close:before{
  @extend .fa;
  @extend .fa-close;
}
