.node-readmore{
  a{
    @extend .btn;
    @extend .btn-success;
  }
}

.page-node .node-tapas-project, .page-node .node-tapas-collection{
  @extend .col-sm-3;
}

body:not(.front){
  .block-views{
    .carousel-inner > .item > img, .carousel-inner > .item > a > img{
      width:auto;
      max-width:100%;
      height:200px;
      margin-left:auto;
      margin-right:auto;
    }
    .carousel-control{
      color:$gray-darkest;
    }
    .carousel-indicators > li{
      background-color: $gray-darkest;
    }
  }
}

.list-group-item{
  background:transparent;
}
.inline{
  display:inline !important;
}
.add-new{
  margin-top:-15px;
  margin-bottom:15px;
}

h4.support-file .btn, h5.support-file .btn{
  margin-left:10px;
}
.thumbnail h4.support-file .btn, .thumbnail h5.support-file .btn{
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
.collection-no-image img{
  width: 220px;
  padding: 10px;
  margin-top: 22px;
  margin-bottom: 22px;
}

table a:not(.btn), .table a:not(.btn){
  text-decoration: none;
}

.views-table.table > tbody > tr > td{
  vertical-align: middle;
}


.view-node-select-list{
  select{
    width: auto;
    display: inline;
  }
  button.form-submit{
    margin-top:-4px;
  }
}

.view-test-reader-pane{
  .tapas-generic #tapasToolbox{
    left:0;
    top:0;
  }
}
