.node-readmore{
  a{
    @extend .btn;
    @extend .btn-success;
  }
}

.page-node .node-tapas-project, .page-node .node-tapas-collection{
  @extend .col-sm-3;
}

body:not(.front){
  .block-views{
    .carousel-inner > .item > img, .carousel-inner > .item > a > img{
      width:auto;
      max-width:100%;
      height:200px;
      margin-left:auto;
      margin-right:auto;
    }
    .carousel-control{
      color:$gray-darkest;
    }
    .carousel-indicators > li{
      background-color: $gray-darkest;
    }
  }
}

.list-group-item{
  background:transparent;
}
.inline{
  display:inline !important;
}
.add-new{
  margin-top:-15px;
  margin-bottom:15px;
}
