.node-readmore{
  a{
    @extend .btn;
    @extend .btn-success;
  }
}

.node-tapascollection-project, .node-tapascollection-collection{
  @extend .col-sm-3;
}

.block-views{
  .carousel-inner > .item > img, .carousel-inner > .item > a > img{
    width:auto;
    max-width:100%;
    height:200px;
    margin-left:auto;
    margin-right:auto;
  }
  .carousel-control{
    color:$gray-darkest;
  }
  .carousel-indicators > li{
    background-color: $gray-darkest;
  }
}
