.node-readmore{
  a{
    @extend .btn;
    @extend .btn-success;
  }
}

.page-node .node-tapas-project, .page-node .node-tapas-collection{
  @extend .col-sm-3;
}

body:not(.front){
  .block-views{
    .carousel-inner > .item > img, .carousel-inner > .item > a > img{
      width:auto;
      max-width:100%;
      height:200px;
      margin-left:auto;
      margin-right:auto;
    }
    .carousel-control{
      color:$gray-darkest;
    }
    .carousel-indicators > li{
      background-color: $gray-darkest;
    }
  }
}

.list-group-item{
  background:transparent;
}
.inline{
  display:inline !important;
}
.add-new{
  margin-top:-15px;
  margin-bottom:15px;
}

h4.support-file .btn, h5.support-file .btn{
  margin-left:10px;
}
.thumbnail h4.support-file .btn, .thumbnail h5.support-file .btn{
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
.collection-no-image img{
  width: 220px;
  padding: 10px;
  margin-top: 22px;
  margin-bottom: 22px;
}
.list-view{
  .thumbnail {
    overflow: auto;
  }
  .collection-no-image img, .img-responsive{
    width:90px;
    display: inline-block;
    text-align:left;
    padding:10px;
    margin:0;
  }
   .views-field-field-tapas-thumbnail, .views-field-field-tapas-thumbnail .field-content, .views-field-title{
    display: inline-block;
  }
  .views-field:not(.views-field-title):not(.views-field-field-tapas-thumbnail){
    margin-left:100px;
  }
  @media(max-width:$screen-md-min){
    .views-field:not(.views-field-title):not(.views-field-field-tapas-thumbnail){
      margin-left:0;
    }
  }
  .views-field-field-tapas-thumbnail{
    float:left;
  }
}
.grid-view{
  .thumbnail {
    .grid-hover-parent{
      opacity:0;
      transition: opacity .5s;
      width:100%;
      height:100%;
      position:absolute;
      top:0;
      left:15px;
      background: $gray-lighter;
      padding: 20px;
    }
    &:hover .grid-hover-parent{
      opacity: .9;
      transition: opacity .5s;
      text-decoration: none;
      .views-label{
        font-weight:bold;
      }
    }
    a {
      word-wrap:break-word;
    }
  }
}

table a:not(.btn), .table a:not(.btn){
  text-decoration: none;
}

.views-table.table > tbody > tr > td{
  vertical-align: middle;
}
